*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}
body{
    width: 100%;
    min-height: 100vh;
    display: grid;
    place-items: center;
    font-family: 'Roboto', sans-serif;
    background: #192a56;
    user-select: none;
}
.wrapper{
    width: 90%;
    max-width: 400px;
    padding: 25px;
    min-height: 300px;
    border-radius: 10px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}
.wrapper .top .counterNumber{
    font-size: 60px;
    line-height: 75px;
    font-weight: 500;
    color: #192a56;
}
.bottomButton{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px 30px;
}
.bottomButton button{
    border: none;
    font-size: 18px;
    padding: 12px 50px;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
    background: #192a56;
    font-weight: 500;
    transition: 0.3s ease;
}
.bottomButton button:hover{
    background: #0f1b38;
    transform: scale(1.2);
}
@media (max-width: 575px){
    .bottomButton{
        flex-direction: column-reverse;
        gap: 20px;
    }
    .bottomButton button{
        width: 100%;
    }
    .bottomButton button:hover{
        transform: scale(1);
    }
}